.trendProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 40px auto;
}
.trendProduct .banner{
    background: url("../../../images/special-banner.jpg");
    background-size: cover ;
    width: 290px;
    height: 560px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.trendProduct .banner h2{
    color: rgba(255, 255, 255, 0.632);
    margin-top: 60px;
}
.trendProduct .banner button{
    margin-bottom: 60px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.616);
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
}
.TrendProducts{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}
.cards{
    width: 937px;
    margin: 0 20px;
    margin-top: -40px;
}
.TrendProducts .cards{
    display: flex;
    align-items: center;
}
@media screen and (max-width : 576px) {
    .trendProduct .banner{
        display: none;
    }
    .cards{
        display: inline-flex;
        flex-direction: column;
    }
}
@media screen and (min-width : 576px) and (max-width : 768px) {
    .trendProduct{
        width: 95%;
        text-align: center;
    }
    .trendProduct .banner{
        display: none;
    }
    .cards{
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (min-width : 768px) and (max-width : 992px) {
    .trendProduct{
        width: 100%;
        text-align: center;
    }
    .trendProduct .banner{
        display: none;
    }
    .cards{
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (min-width : 992px) and (max-width : 1400px) {
    .trendProduct .banner{
        display: none;
    }
}
@media screen and (min-width : 1400px) and (max-width : 1810px){
    .trendProduct{
        width: 95%;
    }
}